body {
    background-image: url('../images/game_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
  display: flex;
  top: 10px;
  left: 80px;
}

.coin p{
    font-family: georgia;
    font-style: italic;
    position: absolute;
   font-size: 28px;
    z-index: 700;
    top: 3px;
    left: 19px;
}

.coin.gold p {
    color: rgba(242, 215, 50, 1);
}

.coin {
    cursor: pointer;
    content: "";
    width: 52px;
    height: 52px;
    display: inline-block;
    position: relative;
    margin: 5px;
    top: -500px;
    right: 10px;
    border-radius: 50px;
    z-index: 500;
    box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, .1);
    }

  .gold{
  background: linear-gradient(45deg,  rgba(242,215,12,1) 0%,rgba(255,255,255,1) 56%,rgba(252,235,0,1) 96%);
  }
  
  .score{
    position: fixed;
    display: flex;
    font-weight: bold;
    font-size: 300%;
    top: 55px;
    left: 180px
    }

