<!--CSS Drawing Practice: Winking Bear-->
<!--adapted from zinee tutorial-->
 <head>
        <link rel="stylesheet" href="/css/bear.css">
        <link rel="stylesheet" href="/css/coin.css">
  </head>

<body>
  <div class="bear">
    <div class="ear left"></div>
    <div class="ear right"></div>

    <div class="face">
      <div class="eyebrow left"></div>
      <div class="eyebrow right"></div>
      <div class="eye left"></div>
      <div class="eye right"></div>
      <div class="nose"></div>
      <div class="mouth left"></div>
      <div class="mouth right"></div>
    </div>
  </div>

  <div class="container">
    <div class="coin gold">
      <p>$</p>
    </div>
  </div>
  <script>var bear = document.getElementsByClassName("bear").addEventListener("click", function () {
      document.getElementById("text").innerText = "GeeksforGeeks";
    }); 
  </script>

</body>