<head>
  <link rel="stylesheet" href="/css/bear.css">
  <link rel="stylesheet" href="/css/coin.css">
</head>
<h1>{{name}}</h1>
<section class="container py-4">
  <div class="row">
    <div class="col-md-12">
      <ul id="tabs" class="nav nav-tabs">
        <li class="nav-item"><a href="" data-target="#shop" data-toggle="tab"
            class="nav-link small text-uppercase">Shop</a></li>
        <li class="nav-item"><a href="" data-target="#game" data-toggle="tab"
            class="nav-link small text-uppercase active">Game</a></li>
        <li class="nav-item"><a href="" data-target="#profile" data-toggle="tab"
            class="nav-link small text-uppercase">Profile</a></li>
      </ul>
      <br>
      <div id="tabsContent" class="tab-content">
        <div id="shop" class="tab-pane fade">
          <h1>hello its me</h1>
        </div>
        <div id="game" class="tab-pane fade active show">
          {{>gameFunc}}
        </div>
        <div id="profile" class="tab-pane fade">
        </div>
      </div>
    </div>
  </div>
</section>



<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>