<section class="main__container">
  <h1 class="main__title">Register</h1>

  <form class="register__form" action="/addUser" method="POST">
   
    <label for="username">Username:
    <input id ="username" name="name" class="text-input" type="text" name="username" placeholder="Fill in username">
    
    <label for="email">Email:
    <input id = "email" name="email" class="text-input" type="text" placeholder="Fill in your Email address">
    </label>
     <p id="emailErr" class="error"></p>

    <label for="password"> Password:
    <input  id="password" name='password' class="text-input" placeholder="Fill in password" type="password">
    </label>
      <p id="passwordErr" class="error"></p>

      <label for="confirmPassword"> Confirm Password:
    <input id="confirmPassword" class="text-input" placeholder="Confirm your password" type="password" required/>
    <p id="confirmPasswordErr" class="error"></p>
    </label>
    
    <p id="confirmErr" class="error"></p>
      <button>Submit</button>
  </form>

  {{#if error}} 
    <span style="color: red;">{{error}}</span>
  {{/if}}

</section>
<script src="../../public/scripts/register.js" type="text/javascript"></script>