<div class="bear" id="bear">
  <div class="ear left"></div>
  <div class="ear right"></div>

  <div class="face">
    <div class="eyebrow left"></div>
    <div class="eyebrow right"></div>
    <div class="eye left"></div>
    <dqiv class="eye right"></dqiv>
    <div class="nose"></div>
    <div class="mouth left"></div>
    <div class="mouth right"></div>
  </div>
</div>

<div class="container">
  <div class="coin gold">
    <p>$</p>
  </div>
  <div class="score">
    <span id="score"> {{userProfile.coins}} </span>
  </div>
</div>



<script>
  const getScore = document.getElementById('score');
     const debounce = (func, delay) => { 
    let debounceTimer 
    return function() { 
        const context = this
        const args = arguments 
            clearTimeout(debounceTimer) 
                debounceTimer 
            = setTimeout(() => func.apply(context, args), delay) 
    } 
} 
function postData(path,body){
axios.post(path, body)
    .then(function (response) {
      getScore.textContent.response
    })
    .catch(function (error) {
      console.log(error);
    });
}
  document.getElementById("bear").addEventListener("click", function () {
    let score = getScore.textContent;
    let levelAttack = document.getElementById("levelAttack").textContent;
    score = parseInt(score)+Math.pow(levelAttack,2);
    document.getElementById("score").textContent = score.toString();
  });
debounce(function() { 
  let score = getScore.textContent;
postData('/updateData',{score})
                        }, 3000); 


</script>