 <center>
    <div class="profile">
       {{name}}
        <center>
            <h1 class="profileElement">{{coin}}</h1>
            <h1 class="profileElement">{{level_attack}}</h1>
             <h1 class="profileElement">{{level_auto}}</h1>
        </center>
    </div>
</center>


